 <div class="panel">
  <div class="panel-heading">
  <caption class="pull-right">Edit Beneficiary Requests</caption>

  </div>



   <div class="panel-body">

   	<table class = "table table-hover">
    
   <thead>
      <tr>
         <th># </th>
         <th>Contact</th>
         <th>Details </th>
         <th>Request Date </th>
          <th>Action </th>
         
      
      </tr>
   </thead>
   
   <tbody>
      
        <tr dir-paginate="req in request|   itemsPerPage:20 ">
    
         <td>{{$index+1}}</td>
         <td>{{req.contact}}</td>
         <td>{{req.details}}</td>    
         <td>{{req.requestdate | date:'MM/dd/yyyy @ h:mma' }}</td>
         <td><button class="button btn-warning" ng-click="process(req)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Process</button></td>
        
      
      </tr>
       <dir-pagination-controls   max-size="20"  direction-links="true"  boundary-links="true" >  </dir-pagination-controls>
     
   </tbody>
   
</table>
   </div>
</div>