<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  <caption class="pull-right">Ipsr Errors : {{requests.length}}</caption>

  </div>

  <!-- Table -->
 <table class = "table table-hover">
    
   <thead>
      <tr>
         <th># </th>
         <th>ID Number</th>
         <th>Message </th>
         <th>Date </th>
          <th>Action </th>
         
      
      </tr>
   </thead>
   
   <tbody>
      
        <tr dir-paginate="req in requests |   itemsPerPage:20 ">
    
         <td>{{$index+1}}</td>
         <td>{{req.docid}}</td>
         <td>{{req.statusname}}</td>    
         <td>{{req.entrydate | date:'MM/dd/yyyy @ h:mma' }}</td>
         <td><button class="button btn-warning" ng-click="process(req)">Re-Process</button></td>
         <td><button class="button btn-danger" ng-click="delete(req)">Delete</button></td>
      
      </tr>
       <dir-pagination-controls   max-size="20"  direction-links="true"  boundary-links="true" >  </dir-pagination-controls>
     
   </tbody>
   
</table>
</div>