<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Summary</h3>
  </div>
  <div class="panel-body">
    There are Currently 
    <br/>

               <p>{{umash}} New Umash  Registrations</p>
               <p>{{cashplan}} New Cash-Plan Registrations</p>

               <p>{{umash}} Umash Pending Iprs Confirmation</p>
               <p>{{cashplan}} Cash-Plan Pending Iprs Confirmation</p>

                <p>{{umash}} Umash Payments</p>
               <p>{{cashplan}} Cash-Plan Payments</p>
  </div>
</div>
