<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  <caption class="pull-right">Total SMS : {{requests.length}}</caption>

  </div>

  <!-- Table -->
 <table class = "table table-hover">
    
   <thead>
      <tr>
         <th>Phone Number </th>
         <th>Message</th>
         <th>Date </th>
          <th>Status </th>
          <th>Description </th>
      
      </tr>
   </thead>
   
   <tbody>
      
        <tr dir-paginate="req in requests |   itemsPerPage:30 ">
    
         <td>{{req.number}}</td>
         <td>{{req.msgText}}</td>
         <td>{{req.smsdate | date:'MM/dd/yyyy @ h:mma' }}</td>
          <td>{{req.statusId}}</td>
           <td>{{req.statusDesc}}</td>
      
      </tr>
       <dir-pagination-controls   max-size="30"  direction-links="true"  boundary-links="true" >  </dir-pagination-controls>
     
   </tbody>
   
</table>
</div>