<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">



  <Appenders>
  


     <RollingFile  name="Error-file-appender" fileName="../UmashLogs/error.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
       



     <RollingFile  name="Debug-file-appender" fileName="../UmashLogs/debug.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>

  </Appenders>

  <Loggers>

          <Root level="DEBUG">
              <AppenderRef ref="Debug-file-appender" level="DEBUG"/>
              <AppenderRef ref="Error-file-appender" level="ERROR" />
          </Root>






  </Loggers>
</Configuration>