<!DOCTYPE html>
<html>
    <head>
        <title>Umash App</title>
      
         <meta charset="utf-8">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

      <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/AdminLTE.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/ngDialog.min.css" rel="stylesheet">
    <link href="css/ngDialog-theme-default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    </head>
    <body ng-app="umashApp">
         <body class="hold-transition skin-blue sidebar-mini   " ng-controller="MainCtrl">

    <div class="nanaloading">
                <div id="floatingBarsG">
          <div class="blockG" id="rotateG_01">
          </div>
          <div class="blockG" id="rotateG_02">
          </div>
          <div class="blockG" id="rotateG_03">
          </div>
          <div class="blockG" id="rotateG_04">
          </div>
          <div class="blockG" id="rotateG_05">
          </div>
          <div class="blockG" id="rotateG_06">
          </div>
          <div class="blockG" id="rotateG_07">
          </div>
          <div class="blockG" id="rotateG_08">
          </div>
          </div> 
          <h5>Loading Kindly Wait.....</h5>
     </div>


<div class="maincontent" >
    <div class="wrapper">

      <header class="main-header">

        <!-- Logo -->
        <a href="index.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
    
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Staff Portal</b></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 1 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            My policy
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Kindly Clarify My policy Number?</p>
                        </a>
                      </li>
                      
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 3 Claims Notifiction</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
        
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">Umash User</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                  
                    <p>
                      Hi {{user}}
                    
                    </p>
                  </li>
                  <!-- Menu Body -->
                 
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>

        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
         
          <ul class="sidebar-menu">
            <li class="header">Navigation</li>
            <li>
              <a href="#/iprserror">
                <i class="fa fa-th"></i> <span>Iprs Errors</span> 
              </a>
            </li>
            
            <li>
              <a href="#/requests">
                <i class="fa fa-building"></i> <span>New Requests</span> 
              </a>
            </li>
          
            <li>
              <a href="#/unpaid">
                <i class="fa fa-th"></i> <span>Unpaid Registrations</span> 
              </a>
            </li>
            <li>
              <a href="#/paid">
                <i class="fa fa-th"></i> <span>Paid Registrations</span> 
              </a>
            </li>
            <li>
              <a href="#/users">
                <i class="fa fa-user"></i> <span>Clients</span> 
              </a>
            </li>

             <li>
              <a href="#/claims">
                <i class="fa fa-user"></i> <span>Claims</span> 
              </a>
            </li>

           

              <li>
             
              <a href="#">
                <i class="fa fa-university"></i>
                <span>SMS</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                  <li><a href="#/sms"><i class="fa fa-book"></i> <span>Sent</span></a></li>
                  <li><a href="#/batchtrxn"><i class="fa fa-book"></i>Failed</a></li>
              </ul>

            </li>

               <li>
             
              <a href="#">
                <i class="fa fa-university"></i>
                <span>Beneficiary Request's</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                  <li><a href="#/beneficiaryadd"><i class="fa fa-book"></i> <span>To Add</span></a></li>
                  <li><a href="#/beneficiaryedit"><i class="fa fa-book"></i>To Edit</a></li>
              </ul>

            </li>
            
            <li class="treeview">
              <a href="#">
                <i class="fa fa-university"></i>
                <span>Transaction</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#/mpesatrxn"><i class="fa fa-circle-o"></i> Mpesa Transactions</a></li>
                <li><a href="#/payments"><i class="fa fa-circle-o"></i>Payments</a></li>
                <li><a href="#/underpayments"><i class="fa fa-circle-o"></i>Under Payments</a></li>
                 <li><a href="#/overpayments"><i class="fa fa-circle-o"></i>Overpayments</a></li>
              </ul>
            </li>
            
            
             <li>
             
              <a href="#">
                <i class="fa fa-university"></i>
                <span>TE-Uploads</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                  <li><a href="#/teUploads"><i class="fa fa-book"></i> <span>Ready For Uploads</span></a></li>
                  <li><a href="#/batchtrxn"><i class="fa fa-book"></i>Uploaded</a></li>
              </ul>

            </li>

              <li>
              <a href="#/summary">
                <i class="fa fa-user"></i> <span>Summary</span> 
              </a>
            </li>

             <li>
              <a href="#/users">
                <i class="fa fa-user"></i> <span>Customer Feedback</span> 
              </a>
            </li>
            
           <li><a href="#/auditlogs"><i class="fa fa-book"></i> <span>Audit Logs</span></a></li>

             <li>
             
              <a href="#">
                <i class="fa fa-university"></i>
                <span>Misc</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                  <li><a href="#/sms"><i class="fa fa-book"></i> <span>Add Office</span></a></li>
                  <li><a href="#/batchtrxn"><i class="fa fa-book"></i>News</a></li>
                  <li><a href="#/batchtrxn"><i class="fa fa-book"></i>Send Notifications</a></li>
              </ul>

            </li>
            
          
           
            
          </ul>

        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
     

        <!-- Main content -->
        <section class="content" >
          <!-- Info boxes -->
     

      

          <!-- Main row -->
          <div class="row">
             <div ng-view></div>
          </div><!-- /.row -->
        </section><!-- /.content -->
        
      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2016-2017 <a href="http://panafrica.co.ke">Pan Africa </a>.</strong> All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home">Activities</i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears">Settings</i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->

          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>

    </div>

  
        
        
        
        
        
        
        
        
        
        
        
           <script src="js/jQuery-2.1.4.min.js"></script>
           <script src="js/app.min.js"></script>
           <script src="js/angular.min.js"></script>
           <script src="js/ng-route.js"></script>
           <script src="js/bootstrap.min.js"></script>
            <script src="js/dialog.js"></script>
           <script src="js/pagination.js"></script>
           <script src="js/UmashApp.js"></script>
           <script src="js/constant.js"></script>
           <script src="js/controller.js"></script>
           <script src="js/services.js"></script>
            
           
           
           
            <script>
  $(function(){
  $(".nanaloading").fadeOut(3000,function(){
     $(".maincontent").fadeIn("slow");
       });
  });
</script>

 <script type="text/ng-template" id="staffFeedbacktmpl">
             <div class="ngdialog-message">
                  <div class="row">  
                    <div class ="col-md-12">
                              <label for="desc">Policy Id</label>
        <input class="form-control"  id="desc" ng-model="feedback.policyid" ></input>
                             </div>
                             </div>

                              <div class="row">  
                    <div class ="col-md-12">
                              <label for="comm">Comments</label>
          <textarea class="form-control" rows="10" id="desc" ng-model="feedback.comment" ></textarea>
                             </div>
                             </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(feedback)">Process</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('No')">Cancel</button>
        </div>
       </script>
    </body>
    
    
   
</html>
